# Node.js dependencies
node_modules/

# Android build artifacts
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.project
android/app/.project
android/.settings/
android/app/.settings/
android/app/.classpath

# Android Keystore (never commit!)
*.jks
*.keystore
release.properties

# IDE & OS files
.idea/
*.iml
.DS_Store
Thumbs.db
.vscode/

# PWA build cache (if any)
dist/
.cache/

# my build scripts
build.sh
install.sh
uninstall.sh
